#In order to install flask-mysqldb, you'll probably need the 'mysqlclient' updated for your python version (if you don't have it yet ofcourse). This project is written on Python 2.7.15, so be sure to install the corresponding 'mysqlclient' version for your python version first! Make sure to install 'wheel' too. Also, you'd need to upgrade your 'setuptools' package too.
pip==22.3
Flask==2.2.2
request
